GPT_API_KEY = "key here"
QUOTES=["Where there is surfeiting, there the devils surely hold their choirs.","The devil will tell you that you are sinful, to make you despair. You should answer him abruptly saying: 'What's that to you? When I want to say that I am a sinner I will and not when the devil wishes'; because when the devil wishes he'll bring me to despair.","Do not forget prayer—it is the life of the soul.","Adorn yourself with truth, try to speak truth in all things; and do not support a lie, no matter who asks you. If you speak the truth and someone gets mad at you, don't be upset, but take comfort in the words of the Lord: 'Blessed are those who are persecuted for the sake of truth, for theirs is the kingdom of Heaven.'","Never miss daily prayer. There is no excuse for not spending some of your time with God, for He is there for you always. Every day of missed prayer is a step backwards.","Man was made to rise, above curiosity and lust, to love, and through love to the attainment of truth."]
